body {
  margin: 0;
}

.lg-container{
  width: 100%;
}

header {
  height: 40%;
  padding: 80px 80px 0px;
}

.main {
  padding: 80px 120px;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: hsl(192, 100%, 9%);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.main-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
  max-width: 650px;
  margin: 0 auto;
}

.mock-img {
  width: 90%;
  margin: 60px 0 60px 0;
}

.form-wrap {
  max-width: 90%;
  margin: 0 auto;
}

.form-text, .form-btn {
  border-radius: 10px;
  color: hsl(208, 11%, 55%);
  margin: 10px;
  font-size: 1.5rem;
  padding: 1rem;
}


.form-text {
  width: 55%;
  border: 2px solid hsl(208, 11%, 55%);
}

.form-btn {
  width: 200px;
  border: 2px solid hsl(322, 100%, 66%);
  background-color: hsl(322, 100%, 66%);
  color: white;
}

:focus {
  outline: none;
}

footer{
  padding: 100px 80px 40px;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-logo, .menu, .sns-logo, .copyright {
  height: 80px;
}

.menu-wrap {
  text-align: right;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-link {
  padding-top: 25px;
  margin-right: 50px;
}

.menu-link:last-of-type {
  margin-right: 0;
}

.menu-link > a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.fab {
  padding-right: 20px;
}

.copyright {
  font-size: 0.8rem;
  margin-top: 0;
  padding-top: 20px;
}

@media screen and (max-width: 1070px) {
  .form-text, .form-btn {
    width: 65%;
    box-sizing: border-box;
  }

  footer {
    flex-direction: column;
  }
  .copyright {
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .menu-link {
    margin-right: 20px;
  }

  .form-wrap {
    width: 100%;
  }

  .form-text, .form-btn {
    width: 90%;
  }

}

@media screen and (max-width: 660px) {
  html {
    font-size: 0.7rem;
  }

  header {
    padding: 10% 30px 0;
  }

  .header-logo {
    width: 30%;
  }

  .main {
    padding: 15%;
  }

  footer {
    padding: 30px;
    height: 100%;
    display: block;
  }

  .logo-wrap {
    width: 100%;
  }

  .footer-logo img{
    width: 60%;
  }

  .footer-logo, .sns-logo, .menu-wrap, .copyright {
    height: auto;
    margin: 10px 0;
  }

  .menu {
    height: 100%;
    display: block;
    text-align: left;
    font-size: 1.5rem;
  }

  .menu-link {
    padding-top: 15px;
  }

  .copyright {
    text-align: center;
  }

}
